<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Fibonacci App</title>
</head>
<body>

    <h1>Fibonacci App</h1>

    <p th:text="${counterlist} != null ? ${counterlist} : 'No counters yet.'"></p>

    <form>
        <input type="submit" value="add counter" formaction="/fibonacci-web/addnew" formmethod="post"/>
    </form>

    <form th:action="@{/nextfib}" th:object="${counter}" method="post">
        <input type="text" th:field="*{id}" name="Counter Number" />
        <button type="submit">Next</button>
    </form>

    <form th:action="@{/delfib}" th:object="${counter}" method="post">
        <input type="text" th:field="*{id}" name="Counter Number" />
        <button type="submit">Delete</button>
    </form>

</body>
</html>
